#navstrip {
  background: var(--theme-color);
}

#navstrip .strip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 12px 1rem;
  margin-inline: auto;
}

#navstrip .right-side,
#navstrip .left-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#navstrip .left-side a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

#navstrip .left-side a,
#navstrip .right-side span {
  font-family: var(--instrument-font);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

@media (max-width: 1024px) {
  #navstrip .strip {
    width: 95%;
  }
}
@media (max-width: 850px) {
  #navstrip .right-side {
    display: none;
  }
  #navstrip .left-side {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 450px) {
  #navstrip .strip {
    width: 100%;
  }
  #navstrip .left-side a {
    font-size: 12px;
  }
  #navstrip .left-side a img{
    width: 14px;
    height: 14px;
  }
}
