#count {
  background-color: #0071ed;
}

#count .countBox p {
  font-family: Manrope;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
#count .countBox h1{
  text-align: center;
  color: #fff
}

#count .countBox h1 span {
  display: block;
  color: #ffffff;
  font-family: Manrope;
  font-weight: 800;
  font-size: 66px;
  text-align: center;
}

#count .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
}

@media (max-width: 850px) {
  #count .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  #count .countBox p{
    font-size: 16px;
  }
  #count .countBox h1 span{
    font-size: 58px;
  }
}
@media (max-width: 450px) {
  #count .countBox p{
    font-size: 12px;
  }
  #count .countBox h1 span{
    font-size: 52px;
  }
}
