#nav {
  z-index: 2;
  position: absolute;
  top: 0;
  padding-inline: 0;
  width: 95%;
  left: 0;
  right: 0;

}

#nav .strip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 90%; */
  padding: 12px 1rem;
  margin-inline: auto;

  /* position: absolute;
  top: 0;
  padding-inline: 0;
  width: 95%;
  left: 0;
  right: 0; */
}

#nav .ctaButton {
  display: flex;
  align-items: center;
}

#nav ul {
  display: flex;
  justify-content: center;
  > li {
    padding: 8px 10px;

    > a {
      font-family: Instrument Sans;
      font-weight: 400;
      font-size: 16px;
    }
  }
}
